@import url("https://fonts.googleapis.com/css?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap");

footer {
  background-color: #292930;
  height: auto;
  margin-top: 10vh;
  bottom: 0;
  color: white;
  font-size: 16px;
}
.un,
.deux,
.trois {
  border-right: 1px solid white;
}
