<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #ff6347;">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-2 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-12 col-lg-12 text-center  mb-4 mb-md-0">
          <h5 class="mb-0 text-center" id="title-footer">
            Coloc Up à votre écoute !
          </h5>
        </div>
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center ">
    <div class="row mt-5">
      <div class="col-md-6 col-lg-6 mx-auto mb-4 py-2 un ">
        <h6>Si vous avez des questions :</h6>
        <a href="mailto:Aluq93@gmail.com"
          ><i class="fa fa-envelope mr-2" aria-hidden="true"></i
          >Contactez-nous</a
        >
        <h6>Agent immobilier ?</h6>
        <a href="publier-annonce">diffusez votre annonce gratuitement ici</a>
      </div>

      <div class="col-md-6 col-lg-6 mx-auto mb-4 py-2 deux">
        <h6>Nous sommes:</h6>
        <a href=""><i class="fab fa-facebook"> Facebook</i></a>
        <br />
        <a href=""> <i class="fab fa-instagram">Instagram</i></a>
        <br />
        <a href=""> <i class="fab fa-twitter-square">Twitter</i></a>
      </div>
    </div>
    <!-- Grid row -->
  </div>

  <div class="footer-copyright text-center py-5">
    © 2019 Copyright: Coloc UP
  </div>
  <!-- Copyright -->
</footer>
