<form class="text-center border border-light text-center mt-5 p-5 col-md-6 col-sm-12 mx-auto">
    <p class="h4 mt-5 mb-4">Connexion</p>

    <!-- Email -->
    <input type="email" class="form-control mb-4" placeholder="Email" #userName required>

    <!-- Password -->
    <input type="password" id="password" name="password" class="form-control mb-4"
        placeholder="Mot de passe" #userPassword required>

    <div class="d-flex justify-content-around">
        <a routerLink="/reset-pass">Mot de passe oublier ?</a>
    </div>

    <input class="btn btn-info btn-block my-3 w-50 mx-auto btn-danger" (click)="authService.SignIn(userName.value, userPassword.value)" type="button" value="Se connecter">

        <button type="button" class="btn btn-info btn-block my-3 w-25 mx-auto btn-danger" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Google
        </button>


    <!-- Register -->
    <p>Pas encore membre ?
        <a routerLink="/inscription">S'inscrire</a>
    </p>
</form>