<form
  class="text-center border border-light text-center mt-5 p-5 col-md-6 col-sm-12 mx-auto"
>
  <p class="h4 mb-4 mt-5">S'inscrire</p>

  <!-- E-mail -->
  <input
    type="email"
    class="form-control mb-4"
    placeholder="E-mail"
    #userEmail
    required
  />
  <input
    type="password"
    class="form-control mb-4"
    placeholder="Mot de passe"
    #userPwd
    required
  />

  <input
    class="btn btn-info btn-block my-3 w-50 mx-auto btn-danger"
    (click)="authService.SignUp(userEmail.value, userPwd.value)"
    value="S'inscrire"
    type="button"
  />

  <!-- Social register -->
  <p>Ou s'inscrire avec Google</p>

  <button
    type="button"
    class="btn btn-info btn-block my-3 w-25 mx-auto btn-danger"
    (click)="authService.GoogleAuth()"
  >
    <i class="fab fa-google-plus-g"></i>
    Google
  </button>

  <p>
    Deja membre ?
    <a routerLink="/connexion">Se connecter</a>
  </p>
</form>
<!-- Default form register -->
