<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-8 col-sm-12 mx-auto">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Votre profil</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>
                  Bonjour
                  <strong>{{ user.email }}</strong>
                </h1>

                <p>Vous souhaiter changer de mot de passe ?</p>

                <div class="formGroup">
                  <input
                    type="email"
                    class="col-md-8 col-sm-12 form-control mb-2"
                    placeholder="Mail de reception pour le mot de passe"
                    #passwordResetEmail
                    required
                  />
                </div>

                <div class="formGroup">
                  <input
                    type="submit"
                    class="btn btn-danger"
                    value="Changer"
                    (click)="
                      authService.ForgotPassword(passwordResetEmail.value)
                    "
                  />
                </div>

                <p class="mt-5">
                  Si vous avez une question ou besoin d'aide contacter
                  l'administrateur
                </p>
                <form
                  class="text-center border border-light p-5"
                  [formGroup]="profileForm"
                  (ngSubmit)="onSubmit()"
                >
                  <input
                    type="text"
                    id="defaultContactFormName"
                    class="form-control mb-4"
                    placeholder="Name"
                    formControlName="name"
                  />

                  <input
                    type="email"
                    id="defaultContactFormEmail"
                    class="form-control mb-4"
                    placeholder="E-mail"
                    formControlName="mail"
                  />

                  <!-- Message -->
                  <div class="form-group">
                    <textarea
                      class="form-control rounded-0"
                      id="exampleFormControlTextarea2"
                      rows="3"
                      formControlName="message"
                      placeholder="Message"
                    ></textarea>
                  </div>

                  <button class="btn btn-info btn-block" type="submit">
                    Envoyer
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
