<h3>
  If you have a questions, you can ask them to our administrator:
</h3>
<form class="form p-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="your name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="your phone" formControlName="phone" />
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-select
          placeholder="
    Select a category"
          formControlName="category"
        >
          <mat-option value="option">Delivery</mat-option>
          <mat-option value="option">Return</mat-option>
          <mat-option value="option">Taille</mat-option>
          <mat-option value="option">auther</mat-option>
        </mat-select>
      </mat-form-field> -->
    <mat-form-field>
      <textarea
        matInput
        placeholder="your message"
        formControlName="message"
      ></textarea>
    </mat-form-field>
    <button
      class="btn btn-info my-4  bg-transparent shadow-none send "
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Send
    </button>
  </div>
</form>

<div class="contact">
  <h4>Assistance : +33 6 63 84 49 55</h4>
</div>
