<div class="container">
  <div class="table-title">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Modification/suppression <b>Logement</b></h2>
      </div>
    </div>
  </div>
  <div class=" text-center mt-4">
    <button type="button" class="btn btn-link mr-1" (click)="goLogement()">
      Logement
    </button>
    <button type="button" class="btn btn-link ml-1" (click)="goUser()">
      User
    </button>
  </div>

  <div class="table-wrapper pt-5" *ngIf="isShow">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Ville</th>
          <th>ID</th>
          <th>Adresse</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let logement of rents">
        <tr>
          <td>{{ logement.title }}</td>
          <td>{{ logement.town }}</td>
          <td>{{ logement.id }}</td>
          <td>{{ logement.address }}</td>
          <td>
            <img src="{{ logement.image }}" width="100" height="100" alt="" />
          </td>
          <td>
            <a href="#editLogementModal" class="edit" data-toggle="modal"
              ><i class="material-icons" data-toggle="tooltip" title="Edit"
                >&#xE254;</i
              ></a
            >
            <a href="#deleteLogementModal" class="delete" data-toggle="modal"
              ><i
                class="material-icons"
                (click)="deleteLogement(logement.id)"
                data-toggle="tooltip"
                title="Delete"
                >&#xE872;</i
              ></a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!--     <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div> -->

    <div
      id="editLogementModal"
      class="modal fade"
      *ngFor="let logement of rents"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form
            [formGroup]="formLogement"
            (ngSubmit)="updateLogement(logement.id, formLogement)"
          >
            <h2 class="text-center mb-4">Poster votre annonce</h2>

            <label for="exampleForm2">Titre annonce :</label>
            <input
              type="text"
              id="exampleForm2"
              class="form-control"
              formControlName="title"
            />

            <div class="form-row mb-4 mt-1">
              <div class="col-md-5 col-sm-12">
                <label for="town">Ville :</label>
                <input
                  type="text"
                  id="town"
                  class="form-control"
                  formControlName="town"
                />
              </div>
              <div class="col-md-3 col-sm-12">
                <label for="department">Departement :</label>
                <input
                  type="number"
                  id="department"
                  class="form-control"
                  formControlName="department"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="nbBed">Nombre de chambre :</label>
                <input
                  type="number"
                  id="nbBed"
                  class="form-control"
                  formControlName="nbBedroom"
                />
              </div>
            </div>

            <label for="address">Adresse :</label>
            <input
              type="text"
              id="address"
              class="form-control mb-2"
              formControlName="address"
            />

            <div class="form-row mb-4 mt-2">
              <div class="col-md-5 col-sm-12">
                <label for="startDate mt-4 mb-3"
                  >Choisissez une date de debut</label
                >
                <input
                  type="date"
                  id="startDate"
                  class="form-control mb-2"
                  formControlName="startDate"
                />
              </div>

              <div class="col-md-5 col-sm-12">
                <label for="endDate mb-3">Choisissez une date de fin</label>
                <input
                  type="date"
                  id="endDate"
                  class="form-control mb-2"
                  formControlName="endDate"
                />
              </div>
            </div>
            <!-- <div class="input-group">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                    <label class="custom-file-label" for="inputGroupFile01">Choisissez une image</label>
                </div>
            </div>
        
            <div class="spinner-border text-danger" role="status" *ngIf="photoUploading">
                <span class="sr-only">Loading...</span>
            </div> -->

            <label for="image1">Image(url) :</label>
            <input
              type="text"
              id="image1"
              class="form-control mb-2"
              formControlName="image"
            />
            <label for="image2">Image2(url) :</label>
            <input
              type="text"
              id="image2"
              class="form-control mb-2"
              formControlName="image2"
            />
            <label for="image3">Image3(url) :</label>
            <input
              type="text"
              id="image3"
              class="form-control mb-2"
              formControlName="image3"
            />
            <label for="image4">Image4(url) :</label>
            <input
              type="text"
              id="image4"
              class="form-control mb-2"
              formControlName="image4"
            />

            <div class="form-row mb-4 mt-1">
              <div class="col-md-4 col-sm-12">
                <label for="price">Prix</label>
                <input
                  type="text"
                  id="price"
                  class="form-control"
                  formControlName="price"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="superficie">superficie :</label>
                <input
                  type="number"
                  id="superficie"
                  class="form-control"
                  formControlName="superficie"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="lit">Nombre de lit :</label>
                <input
                  type="number"
                  id="lit"
                  class="form-control"
                  formControlName="nblit"
                />
              </div>
            </div>
            <div class="form-row mb-4 mt-1">
              <div class="col-md-6 col-sm-12">
                <label for="animals">Animaux domestiques</label>
                <select
                  class="form-control"
                  id="animals"
                  formControlName="animaux"
                >
                  <option>Autoriser</option>
                  <option>Refuser</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="wifi">Wi-Fi</label>
                <select class="form-control" id="wifi" formControlName="wifi">
                  <option>Connexion Wi-Fi gratuite</option>
                  <option>Pas de Wi-Fi </option>
                </select>
              </div>
            </div>

            <label for="description">Description</label>
            <textarea
              class="form-control z-depth-1"
              id="description"
              rows="5"
              placeholder="Write something here..."
              formControlName="description"
            >
            </textarea>

            <button type="button" class="btn btn-secondary mt-3">
              Annuler
            </button>
            <button
              type="submit"
              class="btn btn-danger mt-3 ml-3"
              [disabled]="formLogement.invalid"
            >
              Enregistrer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper pt-5" *ngIf="isShow2">
    <h5>user ici</h5>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Mail</th>
          <th>Vericication mail</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.emailVerified }}</td>
          <td>
            <a href="#editLogementModal" class="edit" data-toggle="modal"
              ><i class="material-icons" data-toggle="tooltip" title="Edit"
                >&#xE254;</i
              ></a
            >
            <a href="#deleteLogementModal" class="delete" data-toggle="modal"
              ><i
                class="material-icons"
                (click)="deleteUser(user.uid)"
                data-toggle="tooltip"
                title="Delete"
                >&#xE872;</i
              ></a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!--     <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div> -->

    <div
      id="editLogementModal"
      class="modal fade"
      *ngFor="let logement of rents"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form
            [formGroup]="formLogement"
            (ngSubmit)="updateLogement(logement.id, formLogement)"
          >
            <h2 class="text-center mb-4">Poster votre annonce</h2>

            <label for="title">Titre annonce :</label>
            <input
              type="text"
              id="title"
              class="form-control"
              formControlName="title"
            />

            <div class="form-row mb-4 mt-1">
              <div class="col-md-5 col-sm-12">
                <label for="town">Ville :</label>
                <input
                  type="text"
                  id="town"
                  class="form-control"
                  formControlName="town"
                />
              </div>
              <div class="col-md-3 col-sm-12">
                <label for="department">Departement :</label>
                <input
                  type="number"
                  id="department"
                  class="form-control"
                  formControlName="department"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="nbBed">Nombre de chambre :</label>
                <input
                  type="number"
                  id="nbBed"
                  class="form-control"
                  formControlName="nbBedroom"
                />
              </div>
            </div>

            <label for="address">Adresse :</label>
            <input
              type="text"
              id="address"
              class="form-control mb-2"
              formControlName="address"
            />

            <div class="form-row mb-4 mt-2">
              <div class="col-md-5 col-sm-12">
                <label for="startDate mt-4 mb-3"
                  >Choisissez une date de debut</label
                >
                <input
                  type="date"
                  id="startDate"
                  class="form-control mb-2"
                  formControlName="startDate"
                />
              </div>

              <div class="col-md-5 col-sm-12">
                <label for="endDate mb-3">Choisissez une date de fin</label>
                <input
                  type="date"
                  id="endDate"
                  class="form-control mb-2"
                  formControlName="endDate"
                />
              </div>
            </div>
            <!-- <div class="input-group">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                    <label class="custom-file-label" for="inputGroupFile01">Choisissez une image</label>
                </div>
            </div>
        
            <div class="spinner-border text-danger" role="status" *ngIf="photoUploading">
                <span class="sr-only">Loading...</span>
            </div> -->

            <label for="image1">Image(url) :</label>
            <input
              type="text"
              id="image1"
              class="form-control mb-2"
              formControlName="image"
            />
            <label for="image2">Image2(url) :</label>
            <input
              type="text"
              id="image2"
              class="form-control mb-2"
              formControlName="image2"
            />
            <label for="image3">Image3(url) :</label>
            <input
              type="text"
              id="image3"
              class="form-control mb-2"
              formControlName="image3"
            />
            <label for="image4">Image4(url) :</label>
            <input
              type="text"
              id="image4"
              class="form-control mb-2"
              formControlName="image4"
            />

            <div class="form-row mb-4 mt-1">
              <div class="col-md-4 col-sm-12">
                <label for="price">Prix</label>
                <input
                  type="text"
                  id="price"
                  class="form-control"
                  formControlName="price"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="superficie">superficie :</label>
                <input
                  type="number"
                  id="superficie"
                  class="form-control"
                  formControlName="superficie"
                />
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="bed">Nombre de lit :</label>
                <input
                  type="number"
                  id="bed"
                  class="form-control"
                  formControlName="nblit"
                />
              </div>
            </div>
            <div class="form-row mb-4 mt-1">
              <div class="col-md-6 col-sm-12">
                <label for="animals">Animaux domestiques</label>
                <select
                  class="form-control"
                  id="animals"
                  formControlName="animaux"
                >
                  <option>Autoriser</option>
                  <option>Refuser</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="wifi">Wi-Fi</label>
                <select class="form-control" id="wifi" formControlName="wifi">
                  <option>Connexion Wi-Fi gratuite</option>
                  <option>Pas de Wi-Fi </option>
                </select>
              </div>
            </div>

            <label for="description">Description</label>
            <textarea
              class="form-control z-depth-1"
              id="description"
              rows="5"
              placeholder="Write something here..."
              formControlName="description"
            >
            </textarea>

            <button type="button" class="btn btn-secondary mt-3">
              Annuler
            </button>
            <button
              type="submit"
              class="btn btn-danger mt-3 ml-3"
              [disabled]="formLogement.invalid"
            >
              Enregistrer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
