<div class="displayTable text-center">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Merci de votre inscription</h3>

      <div class="formGroup mt-4" *ngIf="authService.userData as user">
        <p>
          Nous avons envoyer un lien sur votre mail :
          <strong>{{ user.email }}</strong
          >.
        </p>
        <p>
          Veuillez verifier votre mail avec le lien que vous avez recu pour vour
          connecter
        </p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="authService.SendVerificationMail()"
        >
          <i class="fas fa-redo-alt"></i>
          Renvoyer le lien de confirmation
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Mail valider ?<span
          class="btn ml-3 btn-primary redirect"
          routerLink="/sign-in"
        >
          Connecter Vous
        </span></span
      >
    </div>
  </div>
</div>
