@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.container {
	margin-top: 15vh;
}

.profil-pic {
	max-width: 260px;
	height: auto;
}
.slider {
	width: 100%;
	height: 420px;
}

.slider > img {
	height: 100%;
	width: 100%;
}
.photoptt {
	width: 100%;
	height: 80px;
}
.info {
	font-size: 0.8em;
	color: gray;
	font-weight: normal !important;
}
span {
	font-weight: 400 !important;
}
a {
	color: black !important;
}

@media screen and (max-width: 568px) {
	body {
		font-size: 0.8em;
	}

	.hide-mobile {
		display: none;
	}

	.profil-pic {
		height: 280px;
	}

	.slider {
		width: 100%;
		height: 270px;
	}
}
