<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12  col-sm-12 mt-4 text-center">
      <p>{{ logements.firstname }} {{ logements.lastname }}</p>
      <img src="{{ logements.photoProfile }}" class="profil-pic shadow" />
      <p class="mt-2">
        Mail:
        <a href="mailto:Aluq93@gmail.com"
          ><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
          {{ logements.email }}</a
        >
      </p>
      <p>
        Telephone <i class="fa fa-phone mr-2" aria-hidden="true"></i>
        {{ logements.phone }}
      </p>
    </div>

    <div class=" col-lg-8 col-md-12 col-sm-12">
      <h2 class="text-center">
        {{ logements.title }} / {{ logements.price }}€
      </h2>
      <div class="row">
        <div class=" col-sm-12 slider">
          <img
            src="{{ logements.image }}"
            alt=""
            *ngIf="isShow"
            class="shadow"
            [@inGoAnimation]
          />
          <img
            src="{{ logements.image2 }}"
            alt=""
            *ngIf="isShow2"
            class="shadow"
            [@inGoAnimation]
          />
          <img
            src="{{ logements.image3 }}"
            alt=""
            *ngIf="isShow3"
            class="shadow"
            [@inGoAnimation]
          />
          <img
            src="{{ logements.image4 }}"
            alt=""
            *ngIf="isShow4"
            class="shadow"
            [@inGoAnimation]
          />
        </div>
        <div class="w-100"></div>
        <div class=" col-sm-12 pt-2 hide-mobile">
          <div class="row">
            <div class="col-sm ">
              <a (click)="goPhoto()">
                <img src="{{ logements.image }}" class="photoptt shadow" alt=""
              /></a>
            </div>
            <div class="col-sm">
              <a (click)="goPhoto2()">
                <img src="{{ logements.image2 }}" class="photoptt shadow" alt=""
              /></a>
            </div>
            <div class="col-sm ">
              <a (click)="goPhoto3()">
                <img src="{{ logements.image3 }}" class="photoptt shadow" alt=""
              /></a>
            </div>
            <div class="col-sm ">
              <a (click)="goPhoto4()">
                <img src="{{ logements.image4 }}" class="photoptt shadow" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class=" col-sm-12 pt-4">
          <div class="row ">
            <div class="col-sm-2 text-center  text-center">
              <i class="fas fa-door-open"></i>
              <p class="info">{{ logements.nbBedroom }} chambre</p>
            </div>
            <div class="col-sm-2  text-center">
              <i class="fas fa-bed"></i>
              <p class="info">{{ logements.nblit }} lit</p>
            </div>
            <div class="col-sm-2 font-weight-bold  text-center">
              {{ logements.superficie }}m<sup>2</sup>
              <p class="info">superficie</p>
            </div>
            <div class="col-sm  text-center ">
              <i class="fas fa-paw"></i>
              <p class="info">{{ logements.animaux }}</p>
            </div>
            <div class="col-sm  text-center">
              <i class="fas fa-wifi"></i>
              <p class="info">{{ logements.wifi }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-lg-4 col-md-0 col-sm-0 mt-4 "></div>
    <div class="col-lg-8 col-sm-12 mt-4 ">
      <h6>
        Disponible: du <span>{{ logements.startDate }} </span> au
        <span>{{ logements.endDate }} </span>
      </h6>
      <h6>
        Ville: <span>{{ logements.town }}</span>
      </h6>
      <h6>
        Department: <span>{{ logements.department }}</span>
      </h6>
      <h6>
        Address: <span>{{ logements.address }}</span>
      </h6>
      <h6 class="mt-4">Description:</h6>
      <p class="text-justify">{{ logements.description }}</p>
    </div>
  </div>
</div>
