button {
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
	color: #fff;
	font-weight: bold;
}
button:hover {
	color: #fff;
}

.card-img-top {
	height: 15em;
	min-width: 100%;
}

.card {
	border: none;
}

.shadows {
	border: none;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadows:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
