<div class="displayTable text-center">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Renvoyer votre mot de passe</h3>

            <p class="text-center">S'il vous plait entrer votre adresse mail pour vous envoyer un lien pour changer de mot de passe</p>

            <div class="formGroup">
                <input type="email" class="col-md-5 col-sm-8 mx-auto form-control mb-2" placeholder="Adresse email" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <input type="submit" class="btn btn-warning" value="Reset"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
        </div>

        <div class="redirectToLogin mt-3">
            <input type="button" class="btn btn-info btn-block my-2 w-25 mx-auto btn-danger" [routerLink]="['/connexion']" value="reconnecter vous">
        </div>

    </div>
</div>