.displayTable {
  margin-top: 8em;
}

.btn-warning {
  background-color: #17a2b8 !important;
  color: #fff !important;
  font-weight: bolder;
  border: none;
}

.btn-warning:hover {
  background-color: #00879c !important;
  transition: 0.4s;
}
