.container-bgimage {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("../../../assets/img/background-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh !important;
  max-width: 100vw;
}

h2 {
  position: relative;
  padding-top: 40vh;
  font-weight: bolder;
  color: #dc3546;
  filter: brightness(125%);
  font-size: 2.5em;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}
.go {
  color: white;
  font-size: 1.8em;
  position: absolute;
  bottom: 200px;
  left: 47%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.go:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  color: #dc3546;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.8em;
    line-height: 1.7em;
  }
}
