<div class="container-bgimage">
  <h2 class="text-center">
    Trouvez rapidement des colocations qui vous correspondent
  </h2>
  <!-- Search form -->
  <!--   <div class="input-group md-form form-sm form-2 pl-0 w-50 mx-auto mt-4">
    <input
      class="form-control my-0 py-1 amber-border"
      type="text"
      placeholder="Indiquez un lieu"
      aria-label="Search"
    />
    <div class="input-group-append">
      <span class="input-group-text amber lighten-3" id="basic-text1"
        ><i class="fas fa-search text-grey" aria-hidden="true"></i
      ></span>
    </div>
  </div> -->
  <div class="text-center go">
    <a id="test" (click)="goDown()"><i class="fas fa-arrow-circle-down"></i></a>
  </div>
</div>
