@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.address,
.address-location {
  color: #17a2b8 !important;
}

.address-location {
  color: #d9564a !important;
}

.address {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

.card-text {
  font-family: "Rubik", sans-serif;
}

.card-rent {
  padding: 0 !important;
  padding: 10px !important;
  border: none !important;
}

.card-body {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.16), 0 7px 15px 0 rgba(0, 0, 0, 0.12);
}

.price {
  padding-right: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  color: #17a2b8;
  font-weight: bold;
  top: 5;
  left: 5;
}

.btn-primary {
  background-color: #17a2b8 !important;
  padding: 5px 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff !important;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  font-weight: 600;
}

.img-fluid {
  height: 14em !important;
}
#goici {
  padding-top: 10vh;
}
