<h2 class="text-center mt-5" id="goici">Nos colocations sur Coloc UP !</h2>

<div class="container-fluid mt-3">
  <div class="row mx-2">
    <!-- Card -->
    <div
      class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 uk-text-break mx-auto card-rent"
      *ngFor="let rent of rents"
    >
      <!-- Card image -->
      <div class="view overlay">
        <div class="price position-absolute p-2">
          <span>{{ rent.price }} €</span>
        </div>
        <img
          class="card-img-top img-fluid"
          src="{{ rent.image }}"
          alt="Card image cap"
        />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card content -->
      <div class="card-body text-left d-flex align-items-center flex-column">
        <div class="align-self-start">
          <span class="address float-left overflow-ellipsis"
            ><i class="fas fa-map-marker address-location mr-2"></i
            >{{ rent.town }}</span
          >
        </div>

        <!-- Title -->
        <h4 class="card-title my-3 mb-2 overflow-ellipsis text-lg-center width">
          {{ rent.title }}
        </h4>
        <!-- Text -->
        <p class="card-text align-self-start">
          <i class="fas fa-calendar-alt mr-3"></i>Disponible:
          {{ rent.startDate }}
        </p>

        <p class="card-text align-self-start">
          <i class="fas fa-calendar-alt mr-3"></i>Fin: {{ rent.endDate }}
        </p>

        <!-- Button -->
        <a class="btn btn-primary mt-2" (click)="accesRent(rent.id)">Voir</a>
      </div>
    </div>
  </div>
</div>
