.stepper {
  margin-top: 10em;
}

.mat-step-header {
  background-color: #17a2b8 !important;
}

.mat-card-content {
  margin: 0 auto;
}

.ng-star-inserted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mat-card {
  margin-top: 2em;
}

.mat-card .mat-form-field,
.mat-radio-button {
  margin: 0 0.7em;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #17a2b8 !important;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #17a2b8;
}
