<form [formGroup]="rentForm" (ngSubmit)="onSubmitRentForm()">
  <mat-horizontal-stepper class="stepper">
    <mat-step label="Etape 1">
      <mat-card>
        <mat-card-title>
          Entrer vos infos personnelles
        </mat-card-title>

        <mat-card-content>
          <table>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Prenom"
                    formControlName="firstname"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Nom"
                    formControlName="lastname"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Telephone"
                    formControlName="phone"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Votre email"
                    formControlName="email"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Photo de profil(url)"
                    formControlName="photoProfile"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <span>Gender</span><br /><br />
                <mat-radio-group>
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step label="Finalisation">
      <mat-card>
        <mat-card-title>
          Rentrez les informations du Logement
        </mat-card-title>

        <mat-card-content>
          <table>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Titre de l'annonce"
                    formControlName="title"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input matInput placeholder="Ville" formControlName="town" />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Departement"
                    formControlName="department"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="Superficie"
                    formControlName="superficie"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="date"
                    placeholder="Date de debut"
                    formControlName="startDate"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="date"
                    placeholder="Date de fin"
                    formControlName="endDate"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Nombre de chambre"
                    formControlName="nbBedroom"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Nombre de lit"
                    formControlName="nblit"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="image 1"
                    formControlName="image"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="image 2"
                    formControlName="image2"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="image 3"
                    formControlName="image3"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="image 4"
                    formControlName="image4"
                  />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    placeholder="L'adresse"
                    formControlName="address"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="demo-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Le prix"
                    formControlName="price"
                  />
                </mat-form-field>
              </td>
            </tr>
            <!-- 
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <mat-label>WiFi</mat-label>
                  <mat-select>
                    <mat-option formControlName="wifi">
                      <option>Connexion Wi-Fi-Gratuite</option>
                      <option>Pas de WiFi</option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="demo-full-width">
                  <mat-label>Animaux</mat-label>
                  <mat-select>
                    <mat-option formControlName="animaux">
                      <option>Autoriser</option>
                      <option>Refuser</option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr> -->
            <button
              mat-raised-button
              color="primary"
              type="submit"
              matStepperNext
            >
              Enregistrer votre annonce
            </button>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</form>
