<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top main-nav" id="main-nav">
    <a class="navbar-brand ml-5" routerLink="/">Coloc UP</a>
    <button class="navbar-toggler pourcolor" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span data-toggle="collapse" aria-controls="navbarNav" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars navbar-toggler-icon"></i></span>
    </button>
    <div class="collapse navbar-collapse container-items-nav" id="navbarNav">
        <ul class="navbar-nav mr-5">

            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" [routerLink]="['/inscription']">Inscription</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" [routerLink]="['/connexion']">Connexion</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/']" (click)="logout()">Déconnexion</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/profile']">Votre compte</a>
            </li>
            <button type="button" [routerLink]="['/publier-annonce']" class="btn mx-auto btn-nav">
                Publier votre annonce
            </button>
        </ul>
    </div>
</nav> -->

<nav
  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top main-nav"
  id="main-nav"
>
  <a class="navbar-brand ml-5" routerLink="/">Coloc UP</a>
  <span
    class="navbar-toggler pourcolor"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >><i class="fas fa-bars navbar-toggler-icon"></i
  ></span>
  <div class="collapse navbar-collapse container-items-nav" id="navbarNav">
    <ul class="navbar-nav mr-5">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/inscription']">Inscription</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/connexion']">Connexion</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/']" (click)="logout()"
          >Déconnexion</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && !isAdmin">
        <a class="nav-link" [routerLink]="['/profile']">Votre compte</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="['/admin-dashboard']">Admin</a>
      </li>
      <button
        type="button"
        [routerLink]="['/publier-annonce']"
        class="btn mx-auto btn-nav"
      >
        Publier votre annonce
      </button>
    </ul>
  </div>
</nav>
