@import url('https://fonts.googleapis.com/css?family=Pacifico|Sunshiney&display=swap');

.nav-link:hover {
	font-weight: 400;
}

/* icone burger */
.navbar-toggler-icon {
	color: black;
	font-size: 1.5em;
	margin-top: 15px;
}

/* NAV */
nav {
	box-shadow: 4px 4px 5px rgb(188, 188, 209, 0.6);
	padding: 15px 0;
}
.main-nav {
	background-color: #fff !important;
}

.nav-link {
	color: #000 !important;
	font-weight: 400;
	font-size: 1.1em;
}

.navbar-brand {
	color: #d9564a;
	font-weight: bolder;
	font-size: 1.3em;
}

.navbar-brand:hover {
	color: #d9564a !important;
	font-weight: bolder !important;
	font-size: 1.3em !important;
	transition: 0.3;
}

.navbar-brand::after {
	color: #d9564a !important;
	font-weight: bolder !important;
	font-size: 1.3em !important;
	transition: 0.3;
}

span > i {
	cursor: pointer;
}

ul > li {
	margin: 0 10px;
}

#navbarNav {
	justify-content: flex-end !important;
}

.logo {
	border-radius: 5px;
}

.btn-nav {
	background-color: #d9564a;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}

@media screen and (max-width: 768px) {
	nav {
		text-align: center;
	}

	ul {
		margin: 0 !important;
	}
}
